In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

from sql_functions import open_connection
from sql_queries import sellers_sold_items

In [2]:
DATABASE_FILE = "olist.db"
connection = open_connection(DATABASE_FILE)

Connection is successful

In [3]:
# Ignore warning for future deprecated method like distplot()
warnings.filterwarnings("ignore")

In [4]:
df_sellers_products = pd.read_sql(sellers_sold_items, connection)
df_sellers_products.head()

         product_name                         seller_id
0          cool_stuff  48436dade18ac8b2bce089ec2a041202
1            pet_shop  dd7ddc04e1b6c2c614352b383efe2d36
2    moveis_decoracao  5b51032eddd242adc84c38acab88f23d
3          perfumaria  9d7a1d34a5052409006425275ba1c2b4
4  ferramentas_jardim  df560393f3a51e74553ab94004ba5c87

In [5]:
print("Data Frame Shape: ", df_sellers_products.shape)
print("\nData Frame information")
df_sellers_products.info()

Data Frame Shape:  (112650, 2)

Data Frame information
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   product_name  111047 non-null  object
 1   seller_id     112650 non-null  object
dtypes: object(2)
memory usage: 1.7+ MB

In [6]:
df_sellers_products.isnull().sum()

product_name    1603
seller_id          0
dtype: int64

In [7]:
df_sellers_products[df_sellers_products["product_name"].isnull()]

       product_name                         seller_id
123            None  38e6dada03429a47197d5d584d793b41
125            None  702835e4b785b67a084280efca355756
132            None  c826c40d7b19f62a09e2d7c5e7295ee2
142            None  e5a3438891c0bfdb9394643f95273d8e
171            None  323ce52b5b81df2cd804b017b7f09aa7
...             ...                               ...
112306         None  c826c40d7b19f62a09e2d7c5e7295ee2
112333         None  3771c85bac139d2344864ede5d9341e3
112350         None  07017df32dc5f2f1d2801e579548d620
112438         None  6cd68b3ed6d59aaa9fece558ad360c0a
112501         None  59cd88080b93f3c18508673122d26169

[1603 rows x 2 columns]

In [8]:
df_sellers_products["product_name"].fillna("Unknown", inplace=True)

# Re-Checking missing values
df_sellers_products.isna().sum()

product_name    0
seller_id       0
dtype: int64

In [9]:
df_sellers_products[df_sellers_products.duplicated(keep=False)]

                  product_name                         seller_id
0                   cool_stuff  48436dade18ac8b2bce089ec2a041202
1                     pet_shop  dd7ddc04e1b6c2c614352b383efe2d36
2             moveis_decoracao  5b51032eddd242adc84c38acab88f23d
3                   perfumaria  9d7a1d34a5052409006425275ba1c2b4
4           ferramentas_jardim  df560393f3a51e74553ab94004ba5c87
...                        ...                               ...
112645   utilidades_domesticas  b8bc237ba3788b23da09c0f1f3a3288c
112646  informatica_acessorios  f3c38ab652836d21de61fb8314b69182
112647           esporte_lazer  c3cfdc648177fdbbbb35635a37472c53
112648  informatica_acessorios  2b3e4a2a3ea8e01938cabda2a3e5cc79
112649         cama_mesa_banho  f7ccf836d21b2fb1de37564105216cc1

[110755 rows x 2 columns]

In [10]:
df_sellers_products.drop_duplicates(keep="first", inplace=True)

# Re-checking duplcates
df_sellers_products[df_sellers_products.duplicated()]

Empty DataFrame
Columns: [product_name, seller_id]
Index: []

#### Renaming Data

In [11]:
from products_translation import products

df_sellers_products.replace(products, inplace=True)
df_sellers_products["product_name"].head()

0         Cool stuff
1           Pet shop
2    Furniture decor
3          Perfumery
4       Garden tools
Name: product_name, dtype: object

#### Grouping Data

In [16]:
df_sellers_products.groupby("product_name").agg("count").sort_values("seller_id", ascending=False)

                       seller_id
product_name
Health beauty                492
Sports leisure               481
Housewares                   468
Auto                         383
Furniture decor              370
...                          ...
Flowers                        3
Security and services          2
La cuisine                     2
PC Gamer                       2
Cds dvds musicals              1

[74 rows x 1 columns]